@charset "utf-8";
@import'public';
body{width: 100%;}
.margin{width: 1200px;margin: 0 auto;}
body{background:beige;}
#site-nav{
	// z-index: 99;
	position: relative;
	height: 30px;
	background: #F7F9F8;
	
	.margin{

		s{position: absolute;right: 8px;width: 8px;height: 4px;margin-left: 5px;background:url(../../dist/img/header-img.png)no-repeat 0 0;-webkit-transition:-webkit-transform .2s ease-in 0s;}
		i,s{display: inline-block;vertical-align: middle;}
		.fl{
			float: left;
			li{float:left;line-height: 30px;margin-right: 10px;}
			.city{ position: relative;color:#008842;
				.city-sz{height: 16px;line-height: 16px;margin: 7px 0;cursor: pointer; float: left;}
				.city-tit{float: left;
					.city-name{ z-index: 100;position: relative;display: block;float:left;height: 20px;line-height: 20px;margin-top: 5px;padding: 0 20px 5px 5px;cursor: pointer;color: #008842;				
					s{top:9px; position: absolute;right:8px;display: inline-block;vertical-align: middle;width:8px; height:4px;margin-left: 5px;background:url(../../dist/img/header-img.png) no-repeat 0 0;}
					}
		
				}
							.city-con{position: absolute;top:28px;left: 0;width: 482px;border: 2px solid #007F4D;background: #fff;z-index: 100;display: none;z-index: 201;
							a{color:#727272;margin:0 5px;display: inline-block;white-space: nowrap;float: left;}
					.headline{padding:0 15px;line-height: 30px;color: #727272;background: #EDEDED;
					a{float: right;color: #008842;font-family: simsun;}
					}
					
					.city-hot{
						overflow: hidden;margin:10px 15px;line-height: 18px;
						span{display: block;margin-bottom: 5px;font-weight: 700;color:#666;
						i{display:inline-block;vertical-align: middle;font-style: italic;width: 16px;height:16px;margin-right: 5px;background: url(../../dist/img/header-img.png) no-repeat;background-position: -174px 0; }
						}
						a{padding: 3px 10px 3px 15px;}
					}
					.city-hot-tab{position: relative;display: block;margin: 5px 15px;padding:5px 10px;background: #F5F5F5;line-height: 30px;height: 60px;
					 .citylist-tab{
						 a{width: 36px;height: 30px;}
						 width: auto;
						 .arrow{left: 555px;position: absolute;top:-6px;display:inline-block;width: 12px;height: 6px;background: url(../../dist/img/header-img.png) no-repeat;background-position: 0 -8px;vertical-align: middle;}
					 }
			
					 }
					.citytab{ margin: 10px 0px;padding:0px 15px;
					span{display: inline-block;width:19%;border:1px solid #fff;border-bottom-color:#e0e0e0;text-align: center;cursor: pointer;line-height: 30px;color: #008842;}
					.active{position: relative;border-color:#e0e0e0;border-bottom-color: #fff;}
					}
					.citylist{ margin: 0 15px 15px;display: none;
					dl{
						display: block;overflow: hidden;zoom:1;line-height: 22px;
						dt{font:bold 12px/22px "宋体";float:left;margin-right: 10px;text-align: center;}
						dd{overflow: hidden;zoom:1;
						a{float: inherit;width:18%;margin: 0 0 0 5px;
						strong{font-weight: bold;color:#008842;}
						} 
						a:hover{color:#008842;}
						}
						
					}
					}
					.active{display: block;}
				
					 }
					 .current{display: block;}
				
			}
		}
		
		
		
		.fr{ 
			a:hover{color: #006F36;}
		li{position: relative;float: right;line-height: 30px;padding: 0 10px;text-align: center;}
		i{width: 18px;height: 18px;margin-right: 5px;background:url(../../dist/img/header-img.png)no-repeat left top;}
		.con{display:none;position: absolute;top: 30px;left: 10px;border: 1px solid #B4C1A3;background: #fff;}
	

		.TEL{a{color: #444;}i{background-position: -86px 0;}}
		.play{i{width: 22px;background-position: -147px 0;}}
		.mobile{padding: 0;
		.tit{
			a {display: block;float: left;height: 30px;line-height: 30px;padding: 0 20px 0 10px;cursor: pointer;z-index: 100;position: relative;box-sizing: border-box;/*border: 1px solid #F7F9F8;*/
i{background-position: -64px 0;}s{top:13px}} a:hover{color: #006600;} }
.con{width:125px;padding: 10px;line-height: 25px;left:0}
		
		}
	
		.myyiguo{.tit{a{display: block;float: left;height: 30px;line-height: 30px;padding: 0 19px 0 9px;cursor: pointer;z-index: 100;/*border: 1px solid #F7F9F8;*/position: relative;box-sizing: border-box;
		i{background-position: -40px 0;}
		s{top:13px}} a:hover{color: #006600;}}
		  .con{ width:100px;padding:5px 12px; text-align:left;
		 a{display: block;line-height: 25px;color:#727272;}}
		}
		
		.current{
			
			.tit{ 
				a{border-color:#b4c1a3 ;padding-bottom: 1px;background: #fff;/*border-bottom:2px solid #000 ;*/z-index: 101;border-left: 1px solid #B4C1A3;border-right: 1px solid #B4C1A3;box-sizing:content-box;border-bottom: 1px solid #fff;} 
		} s{-webkit-transform: rotate(180deg);} 
		.con{display: block;z-index: 100;a:hover{color: #006600;}} 
		
		}
		
		}
	} 
}

#header{	
	height: 78px;
	background: #E0E0E0;
     .margin{
		.wrap{ height: 58px;padding: 15px 0 5px 0;
			.logo{float:left;width:280px;margin-right:10px;
			a{display: block;width: 145px;height: 50px;background: url(../../dist/img/logo.png);}}
		    .search{position: relative;float: left;width: 528px;
			.search-bar{.search-input{float: left;;width: 425px;height: 26px;line-height: 26px;padding: 0 10px;border: 1px solid #008842; background: #E0E0E0;vertical-align: middle;color: #999;}
			.search-btn{float: left;display: block;width: 81px;height: 28px;line-height: 28px;padding: 0;border: none;cursor: pointer;color: #fff;font-size: 14px;background: #008842;}
			}
			}
			.keywords{height: 30px;line-height: 30px;
			a{margin-right: 5px;color: #727272;display: inline-block;}
			.hot{color: #008842;}
			
			}
			
	.shopping-cart{
				z-index: 202;
				float: right;
				position: relative;
			
				dl{
					.shopping-btn{width: 170px;height: 28px;padding: 6px 0;line-height: 28px;text-align: center;font-size: 25px;border: 1px solid #008842;background: #fff;cursor: pointer;
					a{display: block;color: #008842;
						.totleNum{
							display: inline-block;vertical-align: middle;width: 28px;height: 20px;margin-right: 10px;font-size: 12px;padding: 0;background: url(../../dist/img/header-img.png) no-repeat -112px 0;
							b{display: block;width: 24px;line-height: 12px;margin-right: 4px;text-align: center;
							}
						}
						.totlePrice{}
					}}
					.shopping-list{z-index: 88;position: absolute;top:41px;right: 0;width: 380px;/*height:100px;*/padding: 10px;background: #fff;border:1px solid #007f4d;display: none;
					.spacer{}
					.nogoods{width: 380px;height:120px;line-height: 120px;text-align: center;background: url(../../dist/img/none-bg-w190.jpg) no-repeat center #fff; }
					.goods{}
					}
				}
			}
			
		}
	}
	
}

.header_fixed{
	z-index: 200;display:block;position: fixed;top: 0px;left: 0;width: 100%;height: 46px !important;background:rgba(224,224,224,.9);
	.margin{ 
	.wrap {/*width:1200px;*/height:36px !important;padding:  5px 0 !important;
	.logo{margin-right: 0px !important;width:280px;
	a{height: 36px !important;background-size:140px 30px !important;display: block;width: 145px;/*background: url(../../dist/img/logo.png) no-repeat !important*/}}
	.search{position: relative !important;width: 770px !important;margin-top: 3px !important;
.search-bar{float: left;}
	ul{display: none;} 
	.keywords{height: 30px;overflow: hidden;float:left !important;width: 230px;margin-left: 10px;line-height: 30px; } }
	.shopping-cart{z-index: 88;float: right;position: relative;
	.shopping-btn{width: 140px !important;padding: 2px 0 !important;font-size: 20px !important;a{ display: block;color: #008842;
	.totleNum{display: inline-block;vertical-align: middle;width: 28px;height: 20px;margin-right: 10px;font-size: 12px !important;padding: 0;background:url(../image/header-img.png) no-repeat -112px 0; }
	} 
	}
	.shopping-list{top:33px !important;}
	}
	}
}
}




#header-nav{

	position: absolute;
	 //position: relative;
	 z-index: 200;
	 left: 72px;
	.margin{
		
		.catalogs{
		
		.catalogs-title{width: 180px; height: 38px;position:relative; text-align: center;background: #008842;padding: 11px 0;box-sizing: border-box;float: left;
		a{ overflow: hidden;font: 700 15px/16px "宋体";color: #fff;height: 16px;}   }
	
	
	.catalogs-list{  display: none;position: absolute;height: 462px;background: rgba(255,255,255,0.9);top:38px;

	
	.item{
		h3{	
			a{overflow: hidden;position: relative;display: block;width: 165px;height: 24px;padding: 9px 0 9px 15px; font: normal 14px/24px "宋体";}
			a{color: #444;}
			i{display: inline-block;overflow: hidden;width: 24px;height:24px;margin-right: 15px; background: url(../../dist/img/nav-icon.png) no-repeat 0px 0px;vertical-align: middle;}
			s{position: absolute;top:7px;right: 18px;display: none;}
			}
		.t01{a{i{background-position: 0px 0;}s{}}}	
		.t02{a{i{background-position: -24px 0;}s{}}}
		.t03{a{i{background-position: -48px 0;}s{}}}
		.t04{a{i{background-position: -72px 0;}s{}}}
		.t05{a{i{}s{}}}
		
		.t06{a{i{background-position: -96px 0;}s{}}}
		.t07{a{i{background-position: -120px 0;}s{}}}
		.t08{a{i{background-position: -144px 0;}s{}}}
		.t09{a{i{background-position: -168px 0;}s{}}}
		.t10{a{i{background-position: -192px 0;}s{}}}
		.t11{a{i{background-position: -216px 0;}s{}}}
		.t12{a{i{background-position: -240px 0;}s{}}}

		.sub-item{
			display: none;
			z-index: 3;position: absolute;top:-38px;left: 180px;width:215px;height: 464px;padding: 17px 20px;border: 1px solid #bbb;background:#fff;opacity:0.9;
			h4{margin-bottom: 10px;font:normal 18px "宋体";text-decoration: underline;a{color:#20985a;}z-index: 10;cursor: pointer;}
			.sub-list{a{display: inline-block;line-height: 25px;margin-right: 30px;color: #686868;}}
			.catalogs-ad{position: absolute;bottom:10px;a{display: block;img{border: none;}}}
    }
	
	}
	
	
	.current{h3{overflow:hidden; background: #fff;a{left:15px;color:#008842}s{display: block;}} .sub-item{display: block;color:#008842;a:hover{color:#008842}} 
	}

	
	}
}

.nav-items{ overflow: hidden;float:left;width:1020px;height: 37px;line-height: 37px;border-bottom: 1px solid #008842;
	ul{
		li{float: left;width: 115px;text-align: center;font-size: 15px;font-weight: 700;
			a{color: #444;}
		}
		li:hover a{color:#008842;}
	}
}
	}
}


#cont{margin-top: 50px;
	.margin{
		  /*排序*/
			.select{height:25px;width:1200px;margin:20px 0;}
			.filter{ padding:5px 10px;background:#eaeaea;height: 30px;
				.filter_sort{ a{display:block;float:left;height:18px;margin-left:-1px;padding:5px 10px;border:1px solid #c7c7c7;background: #fff;i{display:inline-block;vertical-align:middle;width:10px;height:16px;margin-left:3px;background:url(../../dist/img/filter_icon.png) no-repeat 0 0; } } .on{background: #eee;} 
				.price{i{background-position: -20px 0; }}
				}
			}
			.filter_space{  }/*排序结束*/
		
		.goodList{
			
			ul{ overflow: hidden;zoom:1;margin-left:-13px;
				.goodInfo{
					text-align: left;
					float:left;position:relative;width:290px;margin:12px 0 0 13px;background:#fff;
					.p_img{position: relative;width: 290px;height:290px;.tag{position: absolute;left:10px;top:10px;width:46px;height:46px;img{border: none;width: 46px;height: 46px;} }a{img{ border:none;width: 290px;height:290px;} } }
					.p_info{padding:10px;height:48px;.p_name{height: 16px;margin-bottom: 10px;line-height:16px;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;a{color:#444;font{  }  }}
					.p_price{height: 22px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;.price{font-size:18px;color:#e7380d;vertical-align: middle;strong{font-weight: bold; } } }
					}
					.p_buy{display: none;position: absolute;left: 0 ;bottom: 68px;width:270px;padding:10px;text-align:center;background: rgba(255,255,255,0.9);span{display: block;width: 270px;height: auto;line-height: 16px;margin-bottom:10px;} .btn-buy{display: block;width: 180px;height: 25px;margin: 0 auto;line-height: 25px;color:#fff;background: #008742;border-radius: 4px; } }

					
					
				}
				
				
				
				
			}
		}
		
		
	} 
}

	#sidebar{position: fixed;z-index: 100;bottom: 20px;right: 47%;margin-right:-625px;width: 56px; }
			#sidebar a{display: block; height: 42px;width: 50px;margin-bottom: 10px; background:url(../../dist/img/sidebar.png) no-repeat left top;}
			#sidebar .zixun{overflow: hidden;width: 50px;height: 42px;margin-bottom: 10px;background-position: 0 -46px;
			span{
				width: 50px;
				height: 42px;
				padding: 6px 8px;
				line-height: 14px;
				color: #fff;
				display: none;
				font-size: 17px;
				word-wrap: break-word;
				background: #596071;
			}
			}
			#sidebar .zixun:hover{background: none;span{display: block;}
			}
			 
			 #footer_service{ background: #e0e0e0;margin-top:50px;padding:30px 0px;height: 42px;
				 ul{li{ float: left;width: 190px;height: 42px;margin-left: 55px;padding-left: 55px;background: url(../../dist/img/footer_service_icon.png) no-repeat left top;
				 b{display: block;padding-left: 15px;color:#007f4d;font:normal 18px/25px "宋体";border-left:1px solid #a6a6a6;} 
				 span{display: block;border-left: 1px solid #a6a6a6;padding-left: 15px;}
				 } 
				 .s1{background-position: 0px 0px ;}
				 .s2{background-position: 0px -42px ;}
				 .s3{background-position: 0px -84px ;}
				 .s4{background-position: 0px -126px ;}
				 }
			 }
			 
			 
			 .footer{ 
				 zoom:1;clear:both;position:relative;padding-bottom: 20px;border-top:1px solid #e0e0e0;
				 .margin{
					 margin: 50px auto 0;
		
				
				 dl{ width:190px;float:left;margin-left:50px;display:inline;
					 dt{
						 height:23px;line-height:23px;background:url(../../dist/img/footer_icon.png) no-repeat;font-size:14px;text-indent: 40px;
						 
					 }
					 dd{ border-left:1px dashed #a8a8a8;
					 padding-left:20px;height:110px;min-height:110px;margin:15px 0 0 13px;
						 p{
							 a{ color:#575556;line-height: 22px;text-align: center;
								 
							 }
						 }
					 }
					 
				 }
				 .col1{dt{ background-position:0px 0px;}}
				 .col2{dt{background-position:0px -23px !important;}}
				 .col3{dt{background-position:0px -46px;} }
				 .col4{dt{background-position:0px -69px;}}
				 .col5{dt{ background-position:0px -92px;}}
				 .service{ clear:both;text-align: center;padding:60px 0 20px;color: #008842;font-size:14px;float: none;height:96px;box-sizing: border-box;
					 span{display:inline-block;padding:0 10px;
						 
					 }
				 }
				 .copyright{clear:both;color:#717171;text-align: center;line-height: 22px;
				 p{a{color:#717171}}
				 .authentication{a{
					 display: inline-block;position: relative;margin: 0 10px;zoom:1;vertical-align: middle;
				 }}
				 }
				 
			 }
			 }
			 
	
		
		