@charset "utf-8";
@import'public';
body{width: 100%;background:#f7f8f8;}
.margin{width: 1200px;margin: 0 auto;}
/*头部*/
.header{ background: #e0e0e0;height: 70px;
	.margin{
		padding:15px 0 5px 0;
	.logo{
		position: relative;float: left;
		a{width: 195px;height: 50px;display: block;background: url(../../dist/img/logo.png) no-repeat; }
		.gotop{display: none;}
		.h-tit{color:#008842;left:240px;font:28px/1 "宋体";position:absolute;top:6px;white-space: nowrap}
	}
	
	}
}

form{
	.register{ padding-top: 54px;
		.margin{
			.tabbable{position: relative;width: 100%;margin: 10px auto 0;
			p{margin-bottom:29px;font:14px/1 "宋体"}
			.field-name{display: inline-block;width:220px;text-align: right;padding-right:20px;color:#444;}
			.input{margin-right: 20px;border:1px solid #c1c1c1;height: 38px;vertical-align: middle;padding-left: 14px;background-color:#fff;font:14px/38px "宋体";}
			.input-yzm{width: 147px;}
				ul{ display: none;border-bottom:1px solid #c4dfb1;padding-left: 240px;margin-left: 0;padding: 0 10px; li{ margin-bottom: -1px;float: left;margin-right: 10px;
				a{ border-bottom: 0;font-weight: normal;background: url(../image/tab_bg_active.jpg) 0 0 repeat-x;padding-bottom: 12px; font:18px/1 "宋体";color:#262626;border:1px solid #c4dfb1; }
					
				}}
				.tab-content{margin: 0;padding: 0;overflow: hidden;
				.tab-pane{ border:1px solid #c4dfb1;background:#fff;padding:40px 0 50px;height:635px;box-sizing:border-box;
				.fl{float: left;
				p{ line-height: 38px;
				 span{float:left; }
				 .inout-yzm{float: left;}
				 img{float: left;}
				 .input-phone{width:290px;background: url(../../dist/img/bg_input.png) no-repeat;background-position: 263px -30px;padding-right: 10px;}
				 .gray{float:left;line-height: 38px;color:#666}
				 .btn-yzm{color:#008842;display: inline-block;width: 121px;height: 38px;text-align: center;line-height: 38px;background-color:#f7f7f7;border:1px solid #c1c1c1;margin-right: 20px; }
				 .input-key{width: 290px; background:url(../../dist/img/bg_input.png) no-repeat;background-position:263px -70px;}
				 .te{height: 37.27px;}
				 label{input{margin-right: 9px;height: 14px;width: 14px;vertical-align: -1px; } a{color:#008842;}}
				 .btn-green-l{ background: #008842;display: inline-block;width: 306px;height: 50px;text-align: center;color: #fff;font: 18px/50px "宋体";}
				 }
				 .clearfix{height: 47px;}
		
				}
				.fr{position: relative;height: 340px;width: 330px;text-align: center;paddingn-top:50px;font: 14px/56px "宋体";float:right;
					.rimg{position:absolute;left: -140px;top:70px;}
				}
				
				}
				
				}
				.right{position: absolute;top:-27px;right: 0;font:14px/1 "宋体";taxt-align:center;
				a{margin-right: 36px;color:#ef760a;text-decoration:underline;}
				}
			}
		} 
	}
}
/*尾部*/

		 .footer{ 
				 zoom:1;clear:both;position:relative;padding-bottom: 20px;border-top:1px solid #e0e0e0;
				 .margin{
					 margin: 50px auto 0;
		
				
				 dl{ width:190px;float:left;margin-left:50px;display:inline;
					 dt{
						 height:23px;line-height:23px;background:url(../../dist/img/footer_icon.png) no-repeat;font-size:14px;text-indent: 40px;
						 
					 }
					 dd{ border-left:1px dashed #a8a8a8;
					 padding-left:20px;height:110px;min-height:110px;margin:15px 0 0 13px;
						 p{
							 a{ color:#575556;line-height: 22px;text-align: center;
								 
							 }
						 }
					 }
					 
				 }
				 .col1{dt{ background-position:0px 0px;}}
				 .col2{dt{background-position:0px -23px !important;}}
				 .col3{dt{background-position:0px -46px;} }
				 .col4{dt{background-position:0px -69px;}}
				 .col5{dt{ background-position:0px -92px;}}
				 .service{ clear:both;text-align: center;padding:60px 0 20px;color: #008842;font-size:14px;float: none;height:96px;box-sizing: border-box;
					 span{display:inline-block;padding:0 10px;
						 
					 }
				 }
				 .copyright{clear:both;color:#717171;text-align: center;line-height: 22px;
				 p{a{color:#717171}}
				 .authentication{a{
					 display: inline-block;position: relative;margin: 0 10px;zoom:1;vertical-align: middle;color:#008842;
					 span{font-size: 12px;color:#001b75;padding:0;margin: 0;top:25px;left: 50px;position: absolute;cursor: pointer;}
				 }}
				 }
				 
			 }
			 }